.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3a0ca3;
    height: 60px;
    padding: 0 30px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.header a {
    text-decoration: none;
    color: #F33E57;
}
.navbar{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    left: 150px;

}
.nav-logo{
    margin:0;
    color:#F33E57;
}
.nav-items{
    padding-right: 1%;
    justify-self: flex-end;
    align-self: flex-end;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-items li{
    float:left;
    height: 50px;
    list-style: none;
    padding-right:50px;
    color: #F33E57;
}


.nav-item:hover{
    cursor: pointer;
    color: black;
}

.nav-items li a{
    text-decoration: none;
    color: #F33E57;

}

.nav-items li a:hover{
    color: black;
}



.search input {
    width: 250px;
    height: 20px;
    padding: 5px;
    border: 1px #777 solid;
    border-radius: 5px;
}

@media (max-width: 768px) {
    .header {
        flex-direction: column;
        height: auto;
    }

    .header ul {
        margin: 20px 0;
        flex-direction: column;
        text-align: center;
    }

    .header a {
        margin-right: 0;
    }

    .nav-logo {
        margin: 20px 0;
    }
}