.navbar{
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 20px;
    background-color: #3a0ca3;

}
.nav-logo{
    margin:0;
    padding-left: 20px;
    color:#F33E57;
}
.nav-items{
    /*float:right;*/
    padding-right: 1%;
    justify-self: flex-end;
    align-self: flex-end;
}

.nav-items li{
    float:left;
    height: 50px;
    list-style: none;
    padding-right:50px;
    color: #F33E57;
}

.nav-items li a{
    text-decoration: none;
    color: #F33E57;

}